<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>
    <th:block th:if="${visit['new']}">New </th:block>
    Visit
  </h2>

  <b>Pet</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Type</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${pet.name}"></td>
      <td
        th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></td>
      <td th:text="${pet.type}"></td>
      <td
        th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}"></td>
    </tr>
  </table>

  <form th:object="${visit}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/dropDown :: select ('Vets', 'vet', ${vets})}" />
<!--      <select th:field="*{vetId}">-->
<!--        <option value=""> &#45;&#45; </option>-->
<!--        <option th:each="vet : ${vets}"-->
<!--                th:value="${vet.id}"-->
<!--                th:utext="${vet.toString()}"/>-->
      <input
        th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"  />
      <input
        th:replace="~{fragments/selectField :: select ('Time slot', 'startTime', ${timeSlots})}" />
<!--      <input-->
<!--        th:replace="~{fragments/selectField :: select ('End Time', 'endTime', ${timeSlots})}" />-->
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="petId" th:value="${pet.id}" />
        <button class="btn btn-default" type="submit">Add Visit</button>
      </div>
    </div>
  </form>

  <br />

  <b>Previous and Upcoming Visits</b>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Vet Name</th>
      <th>Description</th>
    </tr>
    <tr th:if="${!visit['new']}" th:each="visit : ${pet.visits}">
      <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
      <td th:text="${visit?.getVet().firstName + ' ' + visit?.getVet().lastName}"></td>
      <td th:text=" ${visit.description}"></td>
    </tr>
  </table>
<!--  <b>Upcoming Visits</b>-->
<!--  <table class="table table-striped">-->
<!--    <tr>-->
<!--      <th>Date</th>-->
<!--      <th>Vet Name</th>-->
<!--      <th>Description</th>-->
<!--    </tr>-->
<!--    <tr th:if="${!upcomingVisit['new']}" th:each="upcomingVisit : ${pet.visits}">-->
<!--      <td th:text="${#temporals.format(upcomingVisit.date, 'yyyy-MM-dd')}"></td>-->
<!--      <td th:text="${upcomingVisit?.getVet().firstName + ' ' + upcomingVisit?.getVet().lastName}"></td>-->
<!--      <td th:text=" ${upcomingVisit.description}"></td>-->
<!--    </tr>-->
<!--  </table>-->


<!--  <b>Previous Visits</b>-->
<!--  <table class="table table-striped">-->
<!--    <tr>-->
<!--      <th>Date</th>-->
<!--      <th>Vet Name</th>-->
<!--      <th>Description</th>-->
<!--    </tr>-->
<!--    <tr th:if="${!visit['new']}" th:each="pastVisit : ${ppet.visits}">-->
<!--      <td th:text="${#temporals.format(pastVisit.date, 'yyyy-MM-dd')}"></td>-->
<!--      <td th:text="${pastVisit?.getVet().firstName + ' ' + pastVisit?.getVet().lastName}"></td>-->
<!--      <td th:text=" ${pastVisit.description}"></td>-->
<!--    </tr>-->
<!--  </table>-->


</body>
</html>
